<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Mottu</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/moto}">Motos</a></li>
            <li><a th:href="@{/patio}">Pátios</a></li>
            <li><a th:href="@{/logout}">Sair</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
