<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Mottu</title>
</head>
<body>
<h2>Login</h2>
<form th:action="@{/login}" method="post">
    <label for="username">Usuário:</label>
    <input type="text" id="username" name="username" required/>
    <br/>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required/>
    <br/>
    <button type="submit">Entrar</button>
</form>

<p th:if="${param['error'] != null}">Usuário ou senha inválidos</p>
<p th:if="${param['logout'] != null}">Você saiu com sucesso</p>

<p>Não tem conta? <a th:href="@{/templates/usuario/novo}">Crie um novo usuário</a></p>

</body>
</html>

